<!DOCTYPE html>
<html>
    <head>
        <title>{{ cookiecutter.project_name }}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>{{ cookiecutter.project_name }}</h1>
            </div>
        </div>
        <div class="container">
            <p>We are working hard to be online as soon as possible...</p>
            <p>Please, have some beer in the meantime.</p>
        </div>
    </body>
</html>
